.defs{
    /* display: block; */
    /* width: 100px; */
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    /* max-height: 16px;
    line-height: 16px; */
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    margin-top: 2rem;
}